* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

/*code of parallax background adapted from w3schools.com*/
#about-us, #price, #synopsis, #booking {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-device-width: 768px) {
  #about-us, #price, #synopsis, #booking {
    background-attachment: scroll;
  }
}

img.title {
	display: block;
  margin: 0 auto;
}

p.title1 {
	color: gold;
	text-align: center;
	font-size: 230%;
	font-weight: bold;
	font-family: 'Great Vibes', cursive, 'Serif';
}

p.title2 {
	color: white;
	text-align: center;
	font-size: 90%;
	font-style: italic;
	font-weight: bold;
	font-family: serif;
	padding-bottom: 15px;
}

header {
  background-color: black;
}

#navbar {
  top: 0px;
  bottom: 0px;
  position: sticky;
  z-index: 1;
}

/*code of dropdown menu adapted from w3schools.com*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkorange;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #111;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(255,200,0);
  font-style: italic;
  width: 128px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

/*.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}*/

#about-us {
	background-image: url("../../media/about.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  min-height: 100%;
  padding-left: 15px;
  padding-top: 45px;
  padding-bottom: 25px;
  overflow: auto;
}

/*code of image gallery adapted from w3schools.com*/

div.gallery {
  padding-top:20px;
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 30%;
  height:320px;
  text-align: center;
}

div.gallery2 {
  padding-top:50px;
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 30%;
  height:320px;
  text-align: center;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 80%;
}

div.gallery2 img {
  width: 100%;
}

div.desc {
  padding: 15px;
  text-align: center;
}

#price {
 background-image: url("../../media/price.jpg");
 background-size: cover;
 background-repeat: no-repeat;
 color: white;
  padding-left: 15px;
 padding-top: 45px;
  padding-bottom: 25px;
  overflow: auto;
}

#now-showing {
  padding-top: 45px;
  background-color: orange;
}

h1.now-showing, p.now-showing {
  padding-left: 15px;
}


#synopsis {
  background-image: url("../../media/trailer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 45px;
  padding-bottom: 25px;
  padding-left: 15px;
  color: white;
  overflow: auto;
}

#synopsis-availability {
	text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}


.date {
  color: black;
  line-height: 250%;
  size: 150%;
  text-align: center;
}

.poster {
	display: flex;
	justify-content: center;
}

/* Code for responsive and column model adapted from w3schools.com */
.column {
  float: left;
  width: 25%;
  padding: 5px;
  height: 460px; 
}

.columnn {
  float: left;
  width: 30%;
  padding: 5px 5px 5px 0px;
  padding-bottom: 25px;
  overflow: auto;
}

.columnw {
  float: left;
  width: 70%;
  padding: 5px;
  padding-bottom: 25px;
  overflow: auto;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 768px) {
  .column {
    width: 50%;
  }
}

.availability {
  background-color: darkorange;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.availability:hover {
  background-color: #111;
}

#booking {
  background-image: url("../../media/booking.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding-top: 45px;
  padding-bottom: 245px;
  padding-left: 15px;
  line-height: 150%;
}

footer {
  background-color: black;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  line-height: 150%;
}

button {
  color: black;
  background-color: gold;
  border-radius: 5px;
}