* {
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica;
  margin-bottom: 0px;
  margin-top: 0px;
}

img.title {
	background-color: white;
	display: block;
  margin: 0 auto;
}

#navbar {
  top: 0px;
  bottom: 0px;
  position: sticky;
}

li {
  color: blue;
}

header {
	background-color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkorange;
  position: sticky;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#about-us {
	background-image: url("../../media/about.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding-top: 45px;
}

#price {
 background-image: url("../../media/price.jpg");
 background-size: cover;
 background-repeat: no-repeat;
 color: white;
 padding-top: 45px;
 padding-bottom: 180px;
}

#now-showing {
  padding-top: 45px;
}

#trailer {
  background-image: url("../../media/trailer.jpg");
 background-size: cover;
 background-repeat: no-repeat;
  padding-top: 45px;
  padding-bottom: 160px;
  color: white;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#now-showing {
  background-color: orange;
}


.poster {
	display: flex;
	justify-content: center;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 5px;
  height: 460px; /* Should be removed. Only for demonstration */
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the four columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 50%;
  }
}